
.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1039px;
margin:auto;
margin-top: 69px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto;
background-color: white;
  max-width: 437px;
margin:auto;
top:60%;
border-radius:10px;
left: 16%;
position: absolute;
z-index: 999;
margin-top: -26px;
max-width: 594px;
width: 491px;
    height: 118px;
}



.grid-item2{
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}


.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1039px;
margin:auto;
}

h3{

  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.3px;
}

.grid-productboxes {
  display: grid;
  grid-template-columns: auto auto auto;
max-width: 1078px;;
}

.grid-containertest {
  display: grid;
  grid-template-columns: auto auto auto;
  /* max-width: 1039px; */
margin:auto;
grid-template-areas: 'part1 part1 part2 part2 part2 part3 part3 part3';
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.grid-item {
  text-align: center;
  font-size:13px;
  color:#000000;
  font-weight: 600;
}
body{

  font-family: Mulish;
  background: #E5E5E5;
}


/* css for the carrousel */



.owl-stage{
  margin-left: 139px;

}
.owl-carousel.owl-loaded{
margin-top: 55px;

}


/*css for carrousel end*/



h1{

text-align: left;
  color:#121212;
  font-size: 55px;
  font-weight: 800;
  position: absolute;
margin-top: -472px;
z-index: 999;
left:16%;
}


h2{
text-align: left;
font-weight: 400;
font-size: 13px;
color:#7D8186;
padding-left: 23px;
    padding-top: 31px;
  }


.mybutton{

  width:190px;
  height:67px;
  margin-left: -139px;
  border-radius:10px;
background-color:#FE753E;
color:white;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.user-box {
  margin: 0 auto;
  width: 400px;
}

.user-id {
  height: 61px;
  width: 100%;
  background: #fff;
  position: relative;
  cursor: pointer;
margin-top:-10px;
}

.user-picture {
  height: 100%;
  float: left;
}

.user-name {
  /* height: 100%;
  width: 300px; */
  font-size: 30px;
  line-height: 30px;
  padding: 20px;
  float: left;
  color:black;
  font-weight: 400;
  padding-top: 14px;
padding-left: 0px;
}

.dropdown-arrow {
  height: 0;
  width: 0;

  position: relative;
  top: 22px;
  left: 8px;
}

.user-id:hover .dropdown-arrow {
  content: "\f106";
  
}

.dropdown-menu {
  list-style-type: none;
  display: none;
  background: #555;
  background: rgba(33, 33, 33, 0.9);
}

.user-id:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
}

.dropdown-menu ul li {
  list-style-type: none;
  display: block;
  height: 100px;
  width: 400px;
  font-size: 1.5em;
  line-height: 2.5em;
  padding: 20px;
  color: #fff;
  border-bottom: 2px solid #333;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li:hover {
  background: #333;
  color: #fff;
}

.fa-angle-down:hover,.fa-angle-down::before {
content: "\f106";

}

.fa-angle-down:before{

 font-size: 15px;
}


.productbox_name{
font-size:18px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0.5px;
color:#1EA59A;

}

.productbox_description{
font-size:13px;
line-height: 23px;
letter-spacing: 0.5px;
color:#404852;
font-weight: 300;

}

.productbox_price{

  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
letter-spacing: 0.35px;
color:#121212;
}
.hari{

  font-size: 12px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

.item{
  margin-top: 69px;
}

.grid-container4 img{
  border-radius: 20px;
}


.footer_column{


  /* background-color: green; */
  /* border: 1px solid grey; */
}



.footer-container{
display: grid;
grid-template-columns: auto auto;

}


/*css for round picture carrousel*/



 .body {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
} 

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  /* width: 100vw; */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
